[submodule ".emacs.d/packages/deft.git"]
	path = .emacs.d/packages/deft.git
	url = git://jblevins.org/git/deft.git
[submodule ".emacs.d/packages/markdown-mode.git"]
	path = .emacs.d/packages/markdown-mode.git
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/packages/rhtml.git"]
	path = .emacs.d/packages/rhtml.git
	url = https://github.com/eschulte/rhtml.git
[submodule ".emacs.d/packages/yaml-mode.git"]
	path = .emacs.d/packages/yaml-mode.git
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/packages/magit.git"]
	path = .emacs.d/packages/magit.git
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/packages/yasnippet.git"]
	path = .emacs.d/packages/yasnippet.git
	url = https://github.com/capitaomorte/yasnippet.git
[submodule ".emacs.d/packages/js2-mode.git"]
	path = .emacs.d/packages/js2-mode.git
	url = https://github.com/mooz/js2-mode
[submodule ".emacs.d/packages/python-mode.git"]
	path = .emacs.d/packages/python-mode.git
	url = https://github.com/emacsmirror/python-mode
[submodule ".emacs.d/packages/haml-mode.git"]
	path = .emacs.d/packages/haml-mode.git
	url = https://github.com/nex3/haml-mode.git
[submodule ".emacs.d/packages/fill-column-indicator.git"]
	path = .emacs.d/packages/fill-column-indicator.git
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule ".emacs.d/packages/cucumber.el.git"]
	path = .emacs.d/packages/cucumber.el.git
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule ".emacs.d/packages/color-theme-solarized.git"]
	path = .emacs.d/packages/color-theme-solarized.git
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/packages/google-maps.git"]
	path = .emacs.d/packages/google-maps.git
	url = git://git.naquadah.org/google-maps.git
[submodule ".emacs.d/packages/graphviz-dot-mode.git"]
	path = .emacs.d/packages/graphviz-dot-mode.git
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule ".emacs.d/packages/rainbow-mode.git"]
	path = .emacs.d/packages/rainbow-mode.git
	url = https://github.com/emacsmirror/rainbow-mode.git
