[submodule ".emacs.d/packages/deft.git"]
	path = .emacs.d/packages/deft.git
	url = git://jblevins.org/git/deft.git
[submodule ".emacs.d/packages/markdown-mode.git"]
	path = .emacs.d/packages/markdown-mode.git
	url = git://jblevins.org/git/markdown-mode.git
[submodule ".emacs.d/packages/rhtml.git"]
	path = .emacs.d/packages/rhtml.git
	url = https://github.com/eschulte/rhtml.git
[submodule ".emacs.d/packages/solarized.git"]
	path = .emacs.d/packages/solarized.git
	url = https://github.com/sellout/emacs-color-theme-solarized.git
[submodule ".emacs.d/packages/yaml-mode.git"]
	path = .emacs.d/packages/yaml-mode.git
	url = https://github.com/yoshiki/yaml-mode.git
[submodule ".emacs.d/packages/magit.git"]
	path = .emacs.d/packages/magit.git
	url = https://github.com/magit/magit.git
[submodule ".emacs.d/packages/yasnippet.git"]
	path = .emacs.d/packages/yasnippet.git
	url = https://github.com/capitaomorte/yasnippet.git
