[submodule ".emacs.d/elisp/markdown-mode"]
	path = .emacs.d/elisp/markdown-mode
	url = git://jblevins.org/git/markdown-mode.git
[submodule "bin/texmf/fonts/opentype/euler-otf"]
	path = bin/texmf/fonts/opentype/euler-otf
	url = git://github.com/khaledhosny/euler-otf.git
