## nano configuration
##
## nano's my editor of choice when I need to do anything less complicated
## than what I usually do in Emacs, and so I try to keep it reasonably well-
## configured.

## Almost everything I do in nano requires line wrapping to be disabled
set nowrap

## This makes the home key work more like other (nice) editors
set smarthome

## Enable smooth scrolling
set smooth

## Don't save history
unset historylog
