URxvt*geometry:     100x30
URxvt*saveLines:    2048
URxvt*font:         xft:Droid Sans Mono:pixelsize=14
URxvt*lineSpace:    2
URxvt*loginShell:   true
URxvt*scrollstyle:  next
URxvt*scrollBar_right: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Base16 Railscasts Theme
URxvt*foreground:   #e6e1dc
URxvt*background:   #2b2b2b
URxvt*cursorColor:  #e6e1dc

! XFT
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: rgba
Xft.rgba: rgb

! Cursors
Xcursor.theme: Jimmac

! Lal
lal*font: Droid Sans
lal*fontsize: 14
lal*bold: false
lal*color: #cccccc
lal*width: 175
lal*format: %a, %b %0d | %H:%M
