URxvt*geometry:     100x25
URxvt*saveLines:    2048
URxvt*font:         xft:Meslo LG M:pixelsize=13
URxvt*lineSpace:    2
URxvt*loginShell:   true
URxvt*scrollstyle:  next
URxvt*scrollBar_right: true
URxvt*scrollTtyOutput: false
URxvt*scrollWithBuffer: true
URxvt*scrollTtyKeypress: true

! Keys
URxvt*iso14755:     false
URxvt*perl-ext-common: default,clipboard
URxvt*keysym.C-C:   perl:clipboard:copy
URxvt*keysym.C-V:   perl:clipboard:paste
URxvt*keysym.C-A-V: perl:clipboard:paste_escaped

! Base16 Railscasts Theme
URxvt*foreground:   #e6e1dc
URxvt*background:   #2b2b2b
URxvt*cursorColor:  #e6e1dc

! XFT
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.antialias: rgba
Xft.rgba: rgb
Xft.dpi: 135

! Cursors
Xcursor.theme: Jimmac

! Lal
lal*font: Droid Sans
lal*fontsize: 14
lal*bold: false
lal*color: #cccccc
lal*width: 175
lal*format: %a, %b %0d | %H:%M
