<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-accessories-menu" label="Accessories">
  <item name="Calculator">
    <action name="Execute">
      <command>galculator</command>
    </action>
  </item>
  <item label="Color Picker">
    <action name="Execute">
      <command>gpick</command>
    </action>
  </item>
</menu>

<menu id="apps-research-menu" label="Research">
  <item label="Zotero">
    <action name="Execute">
      <command>zotero</command>
    </action>
  </item>
  <item label="Gephi">
    <action name="Execute">
      <command>gephi</command>
    </action>
  </item>
</menu>

<menu id="apps-office-menu" label="Office">
  <item label="LibreOffice Writer">
    <action name="Execute">
      <command>lowriter</command>
    </action>
  </item>
  <item label="LibreOffice Calc">
    <action name="Execute">
      <command>localc</command>
    </action>
  </item>
  <item label="LibreOffice Impress">
    <action name="Execute">
      <command>loimpress</command>
    </action>
  </item>
  <item label="Calibre">
    <action name="Execute">
      <command>calibre</command>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Inkscape">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="GeoTag">
    <action name="Execute">
      <command>geotag</command>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
    </action>
  </item>
  <item label="Deluge">
    <action name="Execute">
      <command>deluge</command>
    </action>
  </item>
</menu>

<menu id="apps-multimedia-menu" label="Multimedia">
  <item label="Ripper">
    <action name="Execute">
      <command>rrip_gui</command>
    </action>
  </item>
  <item label="Picard">
    <action name="Execute">
      <command>picard</command>
    </action>
  </item>
  <separator />
  <item label="VLC">
    <action name="Execute">
      <command>vlc</command>
    </action>
  </item>
  <item label="Handbrake">
    <action name="Execute">
      <command>ghb</command>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Configure DM">
    <action name="Execute">
      <command>lightdm-gtk-greeter-settings-pkexec</command>
    </action>
  </item>
  <separator />
  <item label="Configure Displays">
    <action name="Execute">
      <command>arandr</command>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <item label="Partition Editor">
    <action name="Execute">
      <command>gparted</command>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <item label="Terminal">
    <action name="Execute">
      <command>urxvt</command>
    </action>
  </item>
  <item label="File Manager">
    <action name="Execute">
      <command>urxvt -e zsh -c '~/bin/base16-default-dark &amp;&amp; mc'</command>
    </action>
  </item>
  <item label="Sublime Text">
    <action name="Execute">
      <command>subl3</command>
    </action>
  </item>
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
    </action>
  </item>
  <separator />
  <menu id="apps-accessories-menu"/>
  <menu id="apps-research-menu"/>
  <menu id="apps-office-menu"/>
  <menu id="apps-graphics-menu"/>
  <menu id="apps-net-menu"/>
  <menu id="apps-multimedia-menu"/>
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Execute">
      <command>zsh -c '~/bin/end-session'</command>
    </action>
  </item>
</menu>

</openbox_menu>
