<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/">

<menu id="apps-productivity-menu" label="Productivity">
  <item label="Writer" icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-writer.svg">
    <action name="Execute">
      <command>lowriter</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Calc" icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-calc.svg">
    <action name="Execute">
      <command>localc</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Impress" icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-impress.svg">
    <action name="Execute">
      <command>loimpress</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Timer" icon="/usr/share/icons/elementary/categories/48/preferences-system-time.svg">
    <action name="Execute">
      <command>pystopwatch</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="VirtualBox" icon="/usr/share/icons/hicolor/24x24/mimetypes/virtualbox-vbox.png">
    <action name="Execute">
      <command>VirtualBox</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-research-menu" label="Research">
  <item label="Zotero" icon="/usr/share/icons/elementary/categories/48/applications-libraries.svg">
    <action name="Execute">
      <command>zotero</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Recoll" icon="/usr/share/icons/elementary/actions/48/edit-find.svg">
    <action name="Execute">
      <command>recoll</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="SpeedCrunch" icon="/usr/share/icons/elementary/apps/48/accessories-calculator.svg">
    <action name="Execute">
      <command>speedcrunch</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="wxMaxima" icon="/usr/share/icons/elementary/categories/48/applications-mathematics.svg">
    <action name="Execute">
      <command>wxmaxima</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-net-menu" label="Internet">
  <item label="FileZilla" icon="/usr/share/icons/hicolor/scalable/apps/filezilla.svg">
    <action name="Execute">
      <command>filezilla</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Transmission" icon="/usr/share/icons/hicolor/scalable/apps/transmission.svg">
    <action name="Execute">
      <command>transmission</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-graphics-menu" label="Graphics">
  <item label="Gimp" icon="/usr/share/icons/hicolor/24x24/apps/gimp.png">
    <action name="Execute">
      <command>gimp</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Inkscape" icon="/usr/share/icons/hicolor/24x24/apps/inkscape.png">
    <action name="Execute">
      <command>inkscape</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Draw" icon="/usr/share/icons/hicolor/scalable/apps/libreoffice-draw.svg">
    <action name="Execute">
      <command>lodraw</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-media-menu" label="Multimedia">
  <item label="VLC" icon="/usr/share/icons/hicolor/48x48/apps/vlc.png">
    <action name="Execute">
      <command>vlc</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="HandBrake" icon="/usr/share/icons/hicolor/24x24/apps/hb-icon.png">
    <action name="Execute">
      <command>handbrake</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Picard" icon="/usr/share/icons/hicolor/24x24/apps/picard.png">
    <action name="Execute">
      <command>picard</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Audacity" icon="/usr/share/icons/hicolor/24x24/apps/audacity.png">
    <action name="Execute">
      <command>audacity</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="apps-games-menu" label="Games">
  <item label="FCEUX (NES)" icon="/usr/share/icons/elementary/categories/48/applications-simulation.svg">
    <action name="Execute">
      <command>fceux</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Snes9x (SNES)" icon="/usr/share/icons/hicolor/scalable/apps/snes9x.svg">
    <action name="Execute">
      <command>snes9x-gtk</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="openbox-config-menu" label="Openbox Config">
  <item label="Edit menu.xml" icon="/usr/share/icons/elementary/actions/48/bookmark-new.svg">
    <action name="Execute">
      <command>subl3 ~/.config/openbox/menu.xml</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Edit rc.xml" icon="/usr/share/icons/elementary/mimes/48/text-x-makefile.svg">
    <action name="Execute">
      <command>subl3 ~/.config/openbox/rc.xml</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="OBConf" icon="/usr/share/icons/elementary/categories/48/preferences-desktop.svg">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Reconfigure Openbox" icon="/usr/share/icons/elementary/actions/48/view-refresh.svg">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="xdg-pipe-menu" label="XDG Menu" execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />

<menu id="system-menu" label="System">
  <item label="ARandR" icon="/usr/share/icons/elementary/categories/32/preferences-desktop-display.svg">
    <action name="Execute">
      <command>arandr</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Seahorse" icon="/usr/share/icons/hicolor/24x24/apps/seahorse.png">
    <action name="Execute">
      <command>seahorse</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="fsv" icon="/usr/share/icons/elementary/devices/48/drive-harddisk.svg">
    <action name="Execute">
      <command>fsv2</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers" icon="/usr/share/icons/elementary/devices/48/printer.svg">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify><enabled>no</enabled></startupnotify>
    </action>
  </item>
  <item label="GParted" icon="/usr/share/icons/hicolor/scalable/apps/gparted.svg">
    <action name="Execute">
      <command>gksu gparted</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator />
  <item label="Desktop Preferences" icon="/usr/share/icons/elementary/categories/32/preferences-desktop-wallpaper.svg">
    <action name="Execute">
      <command>spacefm --desktop-pref</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Screensaver Properties" icon="/usr/share/icons/elementary/categories/22/preferences-desktop-effects.svg">
    <action name="Execute">
      <command>xscreensaver-demo</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <menu id="openbox-config-menu" icon="/usr/share/icons/elementary/actions/48/window-new.svg" />
  <separator />
  <menu id="xdg-pipe-menu" icon="/usr/share/icons/elementary/places/48/distributor-logo.svg" />
</menu>

<menu id="end-session-menu" label="End Session">
  <item label="Log Out" icon="/usr/share/icons/elementary/actions/48/system-log-out.svg" >
    <action name="Exit">
      <prompt>yes</prompt>
    </action>
  </item>
  <item label="Reboot" icon="/usr/share/icons/elementary/actions/48/view-refresh.svg">
    <action name="Execute">
      <command>gksu 'systemctl reboot'</command>
      <startupnotify><enabled>no</enabled></startupnotify>
    </action>
  </item>
  <item label="Shut Down" icon="/usr/share/icons/elementary/actions/48/system-shutdown.svg">
    <action name="Execute">
      <command>gksu 'systemctl poweroff'</command>
      <startupnotify><enabled>no</enabled></startupnotify>
    </action>
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <showIcons>yes</showIcons>

  <separator label="Applications" />
  <item label="Terminal" icon="/usr/share/icons/elementary/apps/48/utilities-terminal.svg">
    <action name="Execute">
      <command>sakura</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="SpaceFM" icon="/usr/share/icons/elementary/apps/48/system-file-manager.svg">
    <action name="Execute">
      <command>spacefm</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Sublime Text" icon="/usr/share/icons/elementary/apps/48/accessories-text-editor.svg">
    <action name="Execute">
      <command>subl3</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Google Chrome" icon="/usr/share/icons/elementary/apps/48/internet-web-browser.svg">
    <action name="Execute">
      <command>google-chrome-stable</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Wunderlist" icon="/usr/share/icons/elementary/categories/48/applications-versioncontrol.svg">
    <action name="Execute">
      <command>/opt/google/chrome/google-chrome --app-id=ojcflmmmcfpacggndoaaflkmcoblhnbh --profile-directory=Default</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Google Calendar" icon="/usr/share/icons/elementary/apps/48/office-calendar.svg">
    <action name="Execute">
      <command>/opt/google/chrome/google-chrome --app-id=ejjicmeblgpmajnghnpcppodonldlgfn --profile-directory=Default</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="GMail" icon="/usr/share/icons/elementary/apps/48/gmail.svg">
    <action name="Execute">
      <command>/opt/google/chrome/google-chrome --app-id=ejidjjhkpiempkbhmpbfngldlkglhimk --profile-directory=Default</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <separator/>
  <menu id="apps-productivity-menu" icon="/usr/share/icons/elementary/categories/48/applications-office.svg" />
  <menu id="apps-research-menu" icon="/usr/share/icons/elementary/categories/48/applications-libraries.svg" />
  <menu id="apps-net-menu" icon="/usr/share/icons/elementary/categories/48/applications-internet.svg" />
  <menu id="apps-graphics-menu" icon="/usr/share/icons/elementary/categories/48/applications-graphics.svg" />
  <menu id="apps-media-menu" icon="/usr/share/icons/elementary/categories/48/applications-multimedia.svg" />
  <menu id="apps-games-menu" icon="/usr/share/icons/elementary/categories/48/applications-games.svg" />
  <separator label="System" />
  <menu id="system-menu" icon="/usr/share/icons/elementary/categories/48/applications-system.svg" />
  <separator />
  <menu id="end-session-menu" icon="/usr/share/icons/elementary/categories/32/preferences-system-session.svg" />
</menu>

</openbox_menu>
