bbpager.withdrawn: true
bbpager.desktop.width: 36
bbpager.desktop.height: 20
bbpager.desktop.orientation: horizontal
bbpager.window.focusStyle: texture
bbpager.desktop.focusStyle: border
bbpager.desktopChangeButton: 1
bbpager.windowMoveButton: 3
bbpager.windowFocusButton: 0
bbpager.windowRaiseButton: 0
bbpager.desktop.margin: 4

bbpager.frame.appearance: Flat Gradient Vertical Border
bbpager.frame.color: #3b3b3b
bbpager.frame.colorTo: #4a4a4a
bbpager.frame.borderWidth: 0

bbpager.desktop.appearance: Flat Gradient Vertical Border
bbpager.desktop.color: #3b3b3b
bbpager.desktop.colorTo: #4a4a4a

bbpager.active.desktop.borderColor: #686868
bbpager.active.desktop.borderWidth: 1
bbpager.inactive.desktop.borderColor: #606060
bbpager.inactive.desktop.borderWidth: 1

bbpager.window.appearance: Flat solid
bbpager.window.color: #e7e7e7
bbpager.window.focus.appearance: Flat solid
bbpager.window.focus.color: #c7cfbc

bbpager.active.window.borderColor: #bdbdbd
bbpager.active.window.borderWidth: 1
bbpager.inactive.window.borderColor: #bdbdbd
bbpager.inactive.window.borderWidth: 1



