[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=gmusicbrowser
Comment=Start the gmusicbrowser music player
Exec=gmusicbrowser
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

